*.iml
*.ipr
*.iws
.classpath
.idea/
.mvn/timing.properties
.project
.settings/
build
build.config.js.sample
buildNumber.properties
dependency-reduced-pom.xml
node
node_modules
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
